@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated)
{

    <span>Welcome @ViewBag.Name  </span>
}
else
{

    @Html.ActionLink("Login", "Login", "Auth")
    <br />

    @Html.ActionLink("Register", "Register", "Auth")
}